<head>

    <link rel="stylesheet" href="../static/assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/assets/css/chamados/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/chamados/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../static/assets/css/chamados/style.css">
</head>

{% extends 'base.html' %}

{% block content %}

<div class="content">

    <div class="container">
        <h2 class="mb-5">Chamados - WPS</h2>


        <div class="table-responsive">

            <table class="table table-striped custom-table">
                <thead>
                    <tr>

                        <th scope="col">Número</th>
                        <th scope="col">Responsável</th>
                        <th scope="col">Resumo</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for chamado in chamados %}
                    <tr>
                        <td><a href="#">{{ chamado.numero }}</a></td>
                        <td>{{ chamado.responsavel }}</td>
                        <td>{{ chamado.resumo }}<small class="d-block">{{ chamado.descricao | truncate(100) }}</small>
                        </td>
                        <td>{{ chamado.tipo }}</td>
                        <td>{{ chamado.status }}</td>
                        <td><a href="/altera?id={{ chamado.numero }}" class="more">Detalhes</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

</div>

<script src="../static/assets/js/jquery-3.3.1.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/main.js"></script>

{% endblock %}